.pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.hidden{
    visibility: hidden;
}
.pagination-info {
  text-align: right;
  margin-top: 5px;
  font-size: 14px;
  left: 380px;
  bottom: -20px;
  position: relative;
}
.chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #EA9C27; /* bg-gray-700 equivalent */
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.chatbot-container {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 350px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chatbot-header {
    background-color: #EA9C27; /* bg-gray-700 equivalent */
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.chatbot-body {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
}

.chatbot-input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.chatbot-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.send-button {
    background-color: #EA9C27; /* bg-gray-900 equivalent */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.send-button i {
    font-size: 16px; /* Icon size */
}
.bot-message, .user-message, option-button{
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    word-wrap: break-word;  /*Ensures long words break to the next line */
    overflow-wrap: break-word;  /*Ensures long words break to the next line */
}

.bot-message {
    background-color: #EA9C27; /* bg-orange-700 equivalent */
    color:white;
}
.option-button {
    background-color: #EA9C27; /* Light orange for option buttons */
    margin: 5px 0; /* Margin for spacing between option buttons */
    cursor: pointer;
    text-align: center;
    padding: 8px;
    border: none;
    border-radius: 5px;
    color:white;
    /* width: 100%;  */
}
.user-message {
    background-color: #E5E7EB;
    text-align: right;
    justify-content: flex-end;
}
.bot-icon, .user-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.user-icon {
    margin-left: 10px;
    margin-right: 0;
}
.message-content {
    flex: 1;
    white-space: normal; /* Ensures text wraps within the container */
    word-break: break-all;
}
.sidebar-collapsed {
    width: 5.5rem;
}
.sidebar-expanded {
    width: 12rem;
}
.sidebar-item {
    transition: all 0.3s;
    font-size: 1rem;
}
.sidebar-collapsed .sidebar-sub-item span {
    display: none;
}
.sidebar-expanded .sidebar-item span {
    display: inline;
}
.sidebar-expanded .sidebar-item i {
    margin-right: 0.1rem;
}
.sidebar-header {
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    margin-left: 15px;
    transition: all 0.3s;
}
.sidebar-expanded .sidebar-header .full-title {
    display: inline;
}
.sidebar-expanded .sidebar-header .short-title {
    display: none;
}
.sidebar-collapsed .sidebar-header .full-title {
    display: none;
}
.sidebar-collapsed .sidebar-header .short-title {
    display: inline;
}
.sidebar-main-item {
    font-size: 1rem;
    font-weight: bold;
    /*text-transform: uppercase;*/
    text-align:left;
    width:100%;
}
.sidebar-sub-item {
    font-size: 0.825rem;
    font-weight: normal;
    /*text-transform: capitalize;*/
    margin-left: 0.25rem;
}
.sidebar-header .toggle-btn {
    margin-right: 0.5rem;
}
.user-section {
    display: flex;
    align-items: center;
    transition: all 0.3s;
    justify-content: center;
}
.user-section span {
    display: none;
}
.sidebar-expanded .user-section span {
    display: inline;
}
.user-section i {
    font-size: 1.25rem;
}
#sidebar {
    background-color: #141721;
    position: fixed;
    top: 60px;
    height:100%;
}
#main_content {
    margin-top:60px;
}
.main_content-collapsed {
    margin-left:5.5rem;
}
.main_content-expanded {
    margin-left:12rem;
}
#page_header {
    width: 100%; /* w-full */
    color: black; /* text-black */
    text-align: left; /* text-left */
    border-bottom: 2px solid #4a4a4a; /* border-b-2 and border-gray-700 */
}
#page_header h1{
    font-size: 20px; /* text-2xl */
    font-weight: bolder; /* font-bold */
    display: inline-block; /* inline-block */
}

#dashboard_header {
    height: 60px;
    background-color: #141721;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    opacity: 1;
}
#sub_page_box,#requestForm,#EntryForm {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 15px;
    font-size: 14px;
}
#requestForm label {
    font-weight:500;
}
#sub_page_headers {
    color: black;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}
#sub_page_content{
    font-size: 14px;
}
#page_sub-headers {
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}
#page-link {
    display: block; /* Equivalent to 'block' */
    text-align: left; /* Equivalent to 'text-left' */
    padding: 0.5rem; /* Equivalent to 'p-2' */
    text-decoration: none; /* Equivalent to 'no-underline' */
    border-radius: 0.5rem; /* Equivalent to 'rounded-lg' */
}

#page-link:hover { /* Equivalent to 'bg-orange-500' */
    text-decoration: underline;
    text-decoration-color: #EA9C27;
    color: white;
}
.highlight {
    color: #EA9C27;
    text-decoration: none; /* Highlight color */
    /*border: 1px solid #388E3C;  Darker border for highlighted */
}

#page-link.highlight:hover { /* Equivalent to 'bg-orange-500' */
    text-decoration: none;
    color: #EA9C27;
}
.non-highlight {
    color: white; /* Highlight color */
    /*border: 1px solid #388E3C;  Darker border for highlighted */
}
.text_Input{
    padding: 0.5rem; /* p-2 in Tailwind CSS */
    border: 1px solid #d1d5db; /* border-gray-300 in Tailwind CSS */
    border-radius: 0.25rem;
    min-width: 350px;
    margin-bottom: 10px;
}
.select_Dropdown_Input{
    padding: 0.5rem; /* p-2 in Tailwind CSS */
    border: 1px solid #d1d5db; /* border-gray-300 in Tailwind CSS */
    border-radius: 0.25rem; /* rounded in Tailwind CSS */
    margin: 0px;
    margin-bottom: 10px;
}
.default_Button{
      margin-top: 0.5rem; /* mt-2: Tailwind's margin-top of 0.5rem */
      padding: 0.5rem; /* p-2: Tailwind's padding of 0.5rem */
      background-color: #EA9C27; /*EA9C27 bg-orange-700: Tailwind's background color for orange-700 */
      color: #ffffff; /* text-white: Tailwind's text color for white */
      border-radius: 0.25rem; /* rounded: Tailwind's border-radius of 0.25rem */
}
.sidebar_section{
    border-top:1px solid white;
    border-bottom:1px solid white;
    height:140px;
    margin:0px;
    padding:0px;
}
.sidebar_section_main_header{
    width:30px;
    display:inline-block;
    text-align:bottom;
}
.sidebar_section_main_header li{
    width:77px;
    display:inline-block;
    transform: rotate(-0.25turn);
    height:87px;
}
.sidebar_section_sub_header{
    min-width:30px;
    max-width:170px;
    display:inline-block;
    border-left:1px solid white;
    height:140px;
}
body{
    background-color: white;
}
#part1 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-weight: 490;
}
#part2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: 490;
}
#AppliedFilters,
#EntryForm,
#ApplyFilters,
#ChoosedTracker {
    padding-left: 10px;
}
#AppliedFilters {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid whitesmoke;
}
#AppliedFilters tr,#EntryForm tr,#ApplyFilters tr{
    display: flex;
    justify-content: space-between;
    margin: 5px;
}
#AppliedFilters td,#EntryForm td,#ApplyFilters td {
    padding: 5px 5px;
}
#Submit_Button {
    color: white;
    width: 100px;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
#alert {
    color: red;
}
#rag_alert,
#leave_type_alert,
#expertise_level_alert,
#weekly_deliverables_alert,
#test_type_alert,
#areas_to_improve_alert,
#request_description_alert,
#request_type_alert,
#qe_delivery_lead_alert,
#client_name_alert,
#requestor_name_alert {
    color: red;
    width: 200px;
    font-size: 10px;
}
#popup {
    visibility: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    color: black;
    font-size: 20px;
    font-weight: 500;
    background-color: green;
    color:white;
    border-radius: 5px;
    width: 700px;
    height: 100px;
    text-align: center;
    padding-top: 30px;
}
#popup .custom-background {
    visibility: visible;
    background-color: gray;
    border-radius: 5px;
    width: 700px;
    height: 100px;
    text-align: center;
    padding: 30px;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}
.rate:not(:checked) > label:before {
    content: "★ ";
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.rate1 {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate1:not(:checked) > input {
    position: absolute;
    top: -9999px;
}
.rate1:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}
.rate1:not(:checked) > label:before {
    content: "★ ";
}
.rate1 > input:checked ~ label {
    color: #ffc700;
}
.rate1:not(:checked) > label:hover,
.rate1:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate1 > input:checked + label:hover,
.rate1 > input:checked + label:hover ~ label,
.rate1 > input:checked ~ label:hover,
.rate1 > input:checked ~ label:hover ~ label,
.rate1 > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
#part1 #mand_fields {
    color: graytext;
    font-style: italic;
}
#mand_fields {
    color: gray;
    width: 100%;
    min-width: 300px;
    max-width: 300px;
}
#col_label {
    min-width: 135px;
    text-align: left;
}

#StartDate,
#EndDate {
    width: 122.5px;
    border: 1px solid #ccc;
    text-align: center;
}
.card {
    flex-direction: column;
    margin-top: 10px;
    flex: 0 1 auto;
}

.form-section {
    margin-top: 30px;
}
.legend-styling {
    border: 1px solid #ccc;
    background-color: #fed7aa;
    padding: 10px;
    border-radius: 5px;
}
.scrollable-container {
    max-height: 150px;
    overflow-y: auto;
    height: 150px; /* Adjust height as needed */
    overflow-y: auto;
    border: 1px solid #ccc; /* Optional: add border for clarity */
}
.table-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}
.table-header .header-item {
    width: 50%;
    text-align: center;
    font-weight: bold;
    color: #333;
}
.project-item {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
}
.project-item .project-name {
    width: 50%;
    text-align: center;
}
.project-item .resource-count {
    width: 50%;
    text-align: center;
    font-weight: bold;
}
.container{
    max-width: 600px; /* Adjusted to a fixed width */
    width: 100%; /* Ensures it takes full width of its parent */
    margin: 0 auto; /* Centers the container horizontally */
}
td {
    min-width: 20px;
}
select {
    width: 270px;
    border: 1px solid #ccc;
    text-align: left;
}
textarea {
    width: 270px;
    border: 1px solid #ccc;
}
input {
    width: 270px;
    border: 1px solid #ccc;
}
input[type="text"]::placeholder {
    /* Firefox, Chrome, Opera */
    text-align: center;
    font-style: italic;
}

textarea::placeholder {
    /* Firefox, Chrome, Opera */
    text-align: center;
    font-style: italic;
}
.section {
    margin-bottom: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 15px;
}

.section h1 {
    color: #1f2937;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.filters-legend {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.filters label {
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 5px;
}

.filters select,
.filters input {
    padding: 5px;
    border: 1px solid #94a3b8;
    background-color: #ffffff;
    font-size: 0.8em;
    width: 200px;
    box-sizing: border-box;
}

.section table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.section th,
.section td {
    padding: 12px 15px;
    border-bottom: 1px solid #cbd5e1;
}

.section th {
    background-color: #fed7aa;
    color: #1f2937;
}

.section td {
    color: #666;
}

#noData {
    font-style: italic;
    color: #999;
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination button {
    padding: 5px 10px;
    border: 1px solid #cbd5e1;
    background-color: #fed7aa;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}

.pagination button.disabled {
    background-color: #f1f5f9;
    cursor: not-allowed;
}

.pagination span {
    padding: 5px 10px;
    border: 1px solid #cbd5e1;
    background-color: #e2e8f0;
    border-radius: 4px;
    cursor: pointer;
}

.pagination span.current {
    background-color: #fed7aa;
    font-weight: bold;
}

.warning {
    color: red;
    font-size: 0.9em;
    margin-left: 10px;
    position: absolute;
    bottom: -20px;
}

#resetBtn {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    font-weight: bold;
}

#resetBtn:hover {
    background-color: #fed7aa;
    font-weight: bold;
    border-color: #999;
}

#resetBtn:focus {
    outline: none;
}

#resetBtn:active {
    background-color: #ccc;
}
#add_projects_btn{
    margin-left: 900px; /* p-2: Tailwind's padding of 0.5rem */
      background-color: whitesmoke; /* bg-orange-700: Tailwind's background color for orange-700 */ /* text-white: Tailwind's text color for white */
      border-radius: 0.25rem;
      padding: 4px;
      color: gray;
}
#add_project_popup{
    background-color: whitesmoke;
    position: fixed;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
    left: 200px;
    top: 100px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px;
}
#add_project_popup_btn{
      background-color: whitesmoke; /* bg-orange-700: Tailwind's background color for orange-700 */ /* text-white: Tailwind's text color for white */
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
      padding: 5px 25px 2px 25px;
      color: gray;
      font-size:13px;
}
#add_project_popup_btn.selected{
    background-color: white;
}
#logout_popup{
    background-color: white;
    position: fixed;
    display: inline-block;
    z-index: 1;
    left: 1050px;
    top: 1px;
    color: black;
    border-radius: 5px;
    padding: 10px;
    font-size: small;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: left;
    width: 290px;
}
#logout_button{
    border-radius: 10px;
    padding: 5px;
    background-color: whitesmoke;
    margin-left: 100px;
    margin-bottom: 20px;
}
#project_popup{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    left: 200px;
    top: 70px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px;
    width: 1125px;
    height: 600px;
    align-items: center;
}
#GLoginPage{
    width: 1358px;
    height: 652px;
    background-size: cover;
    background-image: url('./bg-image.jpg');
}
#GLoginPageBox{
    width:300px;
    color: white;
    position: fixed;
    left:800px;
    top:200px;
}
#loading_popup{
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1;
    left: 10px;
    top: 10px;
    color: black;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px;
    width: 1358px;
    height: 652px;
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
}
.hover-text {
    display: block;
    position: absolute;
  bottom: 120%; /* Position above the button */
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 10px;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 5px;
  font-size: 14px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
  }
  
  .hover-btn:hover .hover-text {
    opacity: 1;
  }